* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
    overflow-y: auto;
    /* overflow-x: hidden; */
  }
  .navigation img{
    position: relative;
    left: 10px;
  }
  .navigation {
    position: relative;
    background-color: #fff;
    height: 100px;
    width: 100%;
    box-shadow: 0 5px 10px #9c9c9c97;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .headtext {
    height: 100px;
    width: auto;
    /* background-color: aqua; */
    padding: 22px 10px;
    position: absolute;
    left: 100px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
  section.mapPage {
    background-size: contain ;
    background-position: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 0;
    top: 0px;
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
  }
  .sidebar{
    width: 300px;
    height: 100vh;
    background-color: #fff;
  }
  a{
    text-decoration: none;
  }
  .sidebar li{
    list-style: none;
    padding: 15px 30px;
  }
  .sidebar li:hover{
    background-color: rgb(241, 241, 241);
  }
  .sidebar li.Heading a{
    font-size: 20px;
    text-decoration: none;
  }
  .mapPage h1 {
    padding: 20px 30px;
    font-size: 40px;
    font-weight: 100;
    background-color: rgb(241, 241, 241);
}
.search-bar {
    position: relative;
    top: 15px;
    right: 0px;
    height: 60px;
    background-size: contain;
}
.search-bar input {
    border-radius: 4px;
      background-size: contain;
      position: relative;
      top: 0px;
      height: 40px;
      width: 400px;
      padding: 18px;
      font-size: 16px;
    }
    .search-bar button {
        height: 40px;
        width: 40px;
  }

  #map {
    position: relative;
    top: -40px;
    width:80vw;
    height:600px;
    background-position: center;
    background-size: contain;
    z-index: 1;
  }
  @media  (max-width: 448px){
        .navigation img{
          scale: 80%;
        }
        .navigation{
            background-size: contain;
            height: 80px;
            width: 100%;
        }
        .headtext{
            position: absolute;
            /* background-color: aqua; */
            top: -20px ;
            left: 30px;
            scale: 60%;
            transition: 2s;
        }
      }
      @media  (max-width: 900px){
        .search-bar{
          display: none;
        }
        
      }